<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>addChapters</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include ('header.ejs') %>
    <div class="holder">
      <h2>Add new chapter</h2>
      <form action="/course/<%=courseID %>/chapter" method="post">
        <label for="name">Chapter Name:</label>
        <input type="text" id="name" name="name" required /><br />
        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea><br />
        <button type="submit">Create Chapter</button>
      </form>
    </div>
  </body>
</html>
