<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <div class="holder">
        <br>
        <h2 class="welcome">Welcome to Learning Management System</h2>
        <br>
        <p>New user?  
            <br>
            <button type="submit" onclick="window.location.href='/signup'">SignUp</button>
        </p>
        <br>
        <p>Aleady have an account 
            <br>
            <button type="submit" onclick="window.location.href='/login'">SignIn</button>
        </p>
    </div>
</body>
</html>