<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="holder">
      <h1>SignIn</h1>
      <form action="/login" method="post">
        <label for="email">email</label>
        <input type="text" name="email" id="email" />
        <label for="password">password</label>
        <input type="text" name="password" id="password" />
        <br />
        <button type="submit">submit</button>
      </form>
      <br />
      <p>Donn't have an account?</p>
      <button type="submit" onclick="window.location.href='/signup'">
        SignUp
      </button>
    </div>
  </body>
</html>
