<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pageCreation</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include ('header.ejs') %>
    <div class="holder">
      <h2 class="admin">Pages of <%=page_name %></h2>
      <ul>
        <% pages.forEach(function(page) { %>
        <li class="names courses"><%= page.page_name %></li>
        <% }); %>
      </ul>
      <h3>Create new page</h3>
      <form action="/chapter/<%=chapterID %>/page" method="post">
        <label for="name">Page Name:</label>
        <input type="text" id="name" name="name" required /><br />
        <label for="description">Content:</label>
        <textarea id="description" name="content" required></textarea><br />
        <button type="submit">Create Page</button>
      </form>
    </div>
  </body>
</html>
