<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pages</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include ('header.ejs') %>
    <div class="holder">
      <h1>pages</h1>
      <br />
      <ul>
        <% pages.forEach(function(page) { %>
        <li class="names courses">
          <strong
            >Page Title: <%= page.page_name %> <br />
            <a href="/chapter/<%= page.id %>">view</a></strong
          >
        </li>
        <hr />
        <% }); %>
      </ul>
    </div>
  </body>
</html>
